.title {
  //float:left;
}

.editable {
 // float: left;
}

//force overwrite
//#edit-box1 textarea[style] {
//height: 30px !important;
//width: 100px !important;
//}

.editable textarea {
background-color: #E0FFFF;
}

.banner {
  border: 1px solid red;
  margin-bottom: 10px;
  background-color: #FFFFE0; 
}

.click textarea {
background-color: #FFFACD;
}

.clear {
  clear:both;
}
.footer {
  margin-top: 20px;
  border-top: 2px dotted gray;
}

.status-panel{
  margin-top: 10px;
}

.edit-box {
  border: 1px solid red;
  margin-bottom: 10px;
  background-color: #FFFFE0;
}

.edit-box-inner {
  padding: 10px;
}

form {
margin: 0;
display: inline;
}

.editable button {
  margin-top: 1px;
}

.jw-button {
  
}
